/* font-family: 'Roboto', sans-serif;
font-family: 'Coiny', cursive;
font-family: 'Lato', sans-serif; */
body * {
    box-sizing: border-box;
  }
  .hidden {
    display: none;
    visibility: hidden;
  }
body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  /* background-image: url('images/clef-design.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-image: url(images/musical-background.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #003033;
  color: white;
  min-height: 100vh;
}
header {
  text-align: center;
  display: flex;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/musical-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  box-shadow:0px 0px 10px black;
  /* border: 3.5px inset #008267;   
  box-shadow:0px 0px 50px 30px #008267; */
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1 0 auto;
  width: 100%;
  padding: 10px;
}
footer {
  flex-shrink: 0;
}
.search-artist-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.videos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.lyrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.lyrics-snippet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tablature {
  text-align: center;
}
#title {
  font-size: 8vw;
  margin-bottom: 0px;
  font-family: 'Coiny', cursive;
  text-shadow: 3px 2px #FF4300;
}
header h4{
  margin-top: 5px;
  font-size: 5vw;
  text-shadow: 1px 1px black;
}
#tagline {
  font-size: 4vw;
  margin-bottom: 5px;
  margin-top: 0px;
}
.artist-search {
  
  box-shadow:0px 0px 10px black;
  background-color: #0D7980;
  padding: 20px;
  
}
#artist-search-label {
  flex-grow: 1;
  flex-basis: auto;
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #e0ffff;
  
}
.search-artist-sub {
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  
}
#search-artist {
  font-size: 1.5em;
  padding: 8px;
  background-color: #e0ffff;
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.541);
  margin: 3px;
  flex: 3 0 auto;
  border: none;
}
.search-artist-btn {
  background-color: #29C3CC;
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.541);
  font-size: 1.5em;
  padding: 10px;
  border: none;
  color: #e0ffff;
  margin: 3px;
  flex: 1 0 auto;
}
.song-search {
  margin-top: 10px;
  box-shadow:0px 0px 10px black;
  background-color: #0D7980;
  padding: 20px;
  
}
.song-search-form {
  display: flex;
  
  justify-content: center;
  align-items: center;
}
#song-library {
  font-size: 1em;
  padding: 8px;
  background-color: #e0ffff;
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.541);
  margin: 3px;
  flex: 3 0 auto;
  border: none;
}
.search-song-btn {
  background-color: #29C3CC;
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.541);
  font-size: 1em;
  padding: 10px;
  border: none;
  color: #e0ffff;
  margin: 3px;
  flex: 1 0 auto;
}
/* Media Queries-------------------------------------------------------------------*/

@media only screen and (min-width: 550px) {
  #title {
    font-size: 3.75vw;
    margin-bottom: 0px;
    font-family: 'Coiny', cursive;
    text-shadow: 3px 2px #FF4300;
  }
  header h4{
    margin-top: 3px;
    font-size: 2vw;
    text-shadow: 1px 1px black;
  }
  #tagline {
    font-size: 4vw;
    margin-bottom: 5px;
    margin-top: 0px;
    
  }
}
  /* LOADER---------------------------------------------------------------------- */
  .load {
    position: relative;
    margin: 50px auto;
    width: 100px;
    height: 80px;
  }
  
  .gear {
    position: absolute;
    z-index: -10;
    width: 40px;
    height: 40px;
    animation: spin 5s infinite;
  }
  
  .two {
    left: 40px;
    width: 80px;
    height: 80px;
    animation: spin-reverse 5s infinite;
  }
  
  .three {
    top: 45px;
    left: -10px;
    width: 60px;
    height: 60px;
  }
  
  @keyframes spin {
    50% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-reverse {
    50% {
      transform: rotate(-360deg);
    }
  }
  
  .lil-circle {
    position: absolute;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 2px gray, 0 0 50px white;
    width: 100px;
    height: 100px;
    opacity: .65;
  }
  
  .blur-circle {
    position: absolute;
    top: -19px;
    left: -19px;
  }
  
  .text {
    color: lightgray;
    font-size: 18px;
     font-family: 'Open Sans', sans-serif;
    
    text-align: center;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
  