
body * {
    box-sizing: border-box;
  }
  .hidden {
    display: none;
    visibility: hidden;
  }
  .fa-search {
    color:white;
  }
  .fa-search:hover {
    color:yellow;
  }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  background-color: #003033;
  color: white;
  min-height: 100vh;
}
header {
  text-align: center;
  display: flex;
  padding: 0px 2px;
  flex-direction: column;
  justify-content: space-evenly;
  
  background-image: url('images/musical-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  box-shadow:0px 0px 10px black;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1 0 auto;
  width: 100%;
  padding: 10px;
}
footer {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}
.footer {
  text-align: right;
}

.lyrics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tablature {
  text-align: center;
}
#title {
  font-size: 7vw;
  margin-bottom: 10px;
  font-family: 'Major Mono Display', monospace;
  text-shadow: 1px 1px black;
  
}
header h4{
  margin-top: 5px;
  font-size: 5vw;
  text-shadow: 1px 1px black;
  
}
#tagline {
  font-size: 4vw;
  margin-bottom: 5px;
  margin-top: 0px;
  text-shadow: 2px 2px black;
  
}
.artist-search {
  order: 1;
  box-shadow:0px 0px 10px black;
  background-color: #0D7980;
  padding: 20px;
  
}
.search-artist-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#artist-search-label {
  flex: 0 0 auto;
  font-size: 1em;
  color: #e0ffff;
  text-align: center;
  padding: 5px;
}

#search-artist {
  max-width: 100%;
  min-width: 254px;
  font-size: 1em;
  /* height: 49px; */
  padding: 8px;
  background-color: #e0ffff;
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.541);
  margin: 3px;
  flex: 3 1 auto;
  border: none;
}
.search-artist-btn {
  background-color: #29C3CC;
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.541);
  font-size: 1em;
  padding: 8px;
  border: none;
  color: #e0ffff;
  margin: 3px;
  flex: 1 1 auto;
  
}

.search-artist-btn:hover {
  background-color: #7F3300;
}

.song-search {
  margin-top: 10px;
  box-shadow:0px 0px 10px black;
  background-color: #0D7980;
  padding: 20px;
  order: 1;
}
.song-search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#song-library {
 
  max-width: 100%;
  min-width: 254px;
  font-size: 1em;
  padding: 8px;
  background-color: #e0ffff;
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.541);
  margin: 3px;
  flex: 3 1 auto;
  border: none;
}
.song-option {
  word-wrap: normal;
}
.search-song-btn {
  background-color: #29C3CC;
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.541);
  font-size: 1em;
  padding: 10px;
  border: none;
  color: #e0ffff;
  margin: 3px;
  flex: 1 1 auto;
  
}
.search-song-btn:hover {
  background-color: #7F3300;
}
.loading {
  order: 3;
}
.results {
  order: 4;
}
.videos, .tablature, .lyrics {
  /* background-color: #29C3CC; */
  /* background-color: #fffacdea; */
  background-color: #f3f3f3;
  overflow: hidden
}
.videos {
  box-shadow:0px 0px 10px black;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 5px;
  flex: 2 1 auto;
}

.video-thumb {
  max-width: 90%;
  height: auto;
}


.next-form {
  margin-bottom: 8px;
}

.next-results {
  background-color: #7F3300;
  box-shadow:0px 0px 1px rgba(0, 0, 0, 0.541);
  font-size: 1em;
  padding: 8px;
  border: none;
  color: #e0ffff;
  margin: 3px;
  min-width: 254px;
  margin-bottom: 8px;
}
.next-results:hover {
  background-color: #29C3CC;
}
.tablature {
  box-shadow:0px 0px 10px black;
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  /* color: #4b5555; */
  padding: 5px;
  flex: 1 1 auto;
}

.tab p {
  margin-top: 0px;
  margin-bottom: 3px;
}
#tab-img {
  width: 35%;
  margin-top: 5px;
}
.lyrics {
  box-shadow:0px 0px 10px black;
  margin: 10px 0px 10px 0px;
  text-align: center;
  color: black;
  padding: 10px;
  flex: 1 1 auto;
}
.lyrics-snippet {
  flex: 1 1 auto;
 
  padding: 10px;
}
.lyrics-link, .tab-link {
  text-decoration: none;
  color: black;
}

a.lyrics-link:hover, a.tab-link:hover {
  text-decoration: underline;
  color: purple;
}

h3 {
  font-family: 'Roboto Slab', serif;
  padding: 10px;
  width: 90%;
  border-bottom: 1px solid #3e3e3e;
  color: #3e3e3e;
  font-size: 1.5em;
}
.copyright {
  color: red;
  font-size: .9em;
  word-break: normal;
  max-width: 400px;
  margin: 10px;
}
.loading {
  order: 1;
}

/* Media Queries-------------------------------------------------------------------*/

@media only screen and (min-width: 550px) {
  #title {
    font-size: 3.75vw;
    margin-bottom: 5px;
    
  }
  header h4{
    margin-top: 2px;
    font-size: 2.5vw;
  
  }
  #tagline {
    font-size: 3vw;
    margin-bottom: 5px;
    margin-top: 0px;
    
  }
}
@media only screen and (min-width: 1025px) {
  .results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    height: 120vh;
  }
  .videos h3 {
    margin-top: -5px;
  }
  .tablature {
    box-shadow:0px 0px 10px black;
    margin: 10px 0px 10px 10px;
    text-align: center;
    
    padding: 5px;
    flex: 1 1 auto;
    
  }
  .lyrics {
    box-shadow:0px 0px 10px black;
    margin: 0px 0px 0px 10px;
    text-align: center;
   
    padding: 5px 5px 10px 5px;
    flex: 2 1 auto;
  }
  h3 {
    font-family: 'Roboto Slab', serif;
    padding: 10px;
    width: 90%;
    border-bottom: 1px solid #3e3e3e;
    color: #3e3e3e;
    text-align: left;
    font-size: 1.5em;
  }

}
  /* LOADER---------------------------------------------------------------------- */
  .load {
    position: relative;
    margin: 50px auto;
    width: 100px;
    height: 80px;
  }
  
  .gear {
    position: absolute;
    z-index: -10;
    width: 40px;
    height: 40px;
    animation: spin 5s infinite;
  }
  
  .two {
    left: 40px;
    width: 80px;
    height: 80px;
    animation: spin-reverse 5s infinite;
  }
  
  .three {
    top: 45px;
    left: -10px;
    width: 60px;
    height: 60px;
  }
  
  @keyframes spin {
    50% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-reverse {
    50% {
      transform: rotate(-360deg);
    }
  }
  
  .lil-circle {
    position: absolute;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 2px gray, 0 0 50px white;
    width: 100px;
    height: 100px;
    opacity: .65;
  }
  
  .blur-circle {
    position: absolute;
    top: -19px;
    left: -19px;
  }
  
  .text {
    color: lightgray;
    font-size: 18px;
     font-family: 'Open Sans', sans-serif;
    
    text-align: center;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);
  
  